body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(20, 20, 20);
}
header{
    background-color:rgb(20, 20, 20);
}
.great{
    width: 30%;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;   
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #333;
}
li{
    float: left;   
}
li a{
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: wheat;
    padding: 20px 50px;
    text-align: center;

}
li a:hover {
    background-color: #111;
}